<div class="col-sm-8 blog-main">

  <h2><%= @blog.title %></h2>
  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin)%>
  <p>
    <%= @blog.body %>
  </p>
  <p>
    <%= link_to "PDF File", blog_path(format: 'pdf') %>
  </p>
</div>

